<!-- //////////////////// display page banner //////////////////// -->
<section id="banner" class="pageBanner position-relative overflow-hidden"
    style="background-image: url('../../assets/crown.png'); background-position: center; background-size: contain; background-repeat: no-repeat; padding-bottom: 50px;">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6 offset-md-3">
                <div class="banner-content text-center">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// centered navigation //////////////////// -->
<nav class="navigation navbar navbar-expand-lg navbar-dark text-uppercase">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Updated class to mx-auto for centering -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Light Novels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#manga">Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../series/">All Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- //////////////////// our selection //////////////////// -->
<section id="book-selection" class="overflow-hidden mt-5 padding-xlarge">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="titleLabelText display-7 text-uppercase">Our Selection</h2>
            </div>
            <div class="book-grid">
                <div *ngFor="let product of products" (click)="goToDetailsPage(product.id)" class="card h-100">
                    <img class="card-img-top more-books-covers" [src]="product.product_cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_title }}</h5>
                        <span class="volume-text">Volume: {{ product.volume }}</span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>


<!-- //////////////////// seasons banner //////////////////// -->
<section id="our-selection" class="overflow-hidden mt-5 padding-xlarge">
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
            <div class="text-content padding-medium">
                <h3 style="text-shadow: 0 0 15px white;">Get cozy &</h3>
                <h2 class="display-2 pb-5 text-uppercase text-dark" style="text-shadow: 0 0 15px white;">Discover seasonal favorites!</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
        </div>
    </div>
</section>

<!-- //////////////////// seasonal products //////////////////// -->
<section id="more-books" class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Get in the {{currentSeason}} spirit!</h2>
            </div>
            <div class="book-grid">
                <div *ngFor="let product of seasonalProducts" (click)="goToDetailsPage(product.id)" class="card h-100">
                    <img class="card-img-top more-books-covers" [src]="product.product_cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_title }}</h5>
                        <span class="volume-text">Volume: {{ product.volume }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>