<!-- //////////////////// display page banner //////////////////// -->
<section class="banner">
    <img [src]="product?.product_banner ? product?.product_banner : '../../assets/default-banner.png'" alt="Banner">
</section>

<a href="#" (click)="goBack()" class="mt-3 back-button" style="font-size: 20px; text-decoration: none;">
    <i class="fa-solid fa-angle-left"></i> Return Home</a>

<!-- //////////////////// display book info //////////////////// -->
<section class="container mt-5 sectionBG">
    <div class="bg-image" [style.backgroundImage]="'url(' + product?.product_cover + ')'"></div>
    <div class="book-details">
        <img id="book-cover" class="book-cover hand" alt="Book Cover" [src]="product?.product_cover">
        <div class="book-info">
            <h2 class="book-title">{{ product?.product_title }} | Volume {{ product?.volume }} | {{
                getProductTypeName(product?.product_type)}}</h2>
            <dl class="book-description"> <!-- Modified this line -->
                <dd>{{ product?.product_desc }}</dd>
                <dd style="font-family: 'Mukta'; font-weight: 400 !important;"><span style="font-size: small;">A story by</span> {{ product?.product_author }} <span style="font-weight: 900;">|</span> {{ product?.product_release }}</dd>
            </dl>
            <div class="purchase-links">
                <h5 class="book-link">Available at:</h5>
                <a [href]="product?.available_at" target="_blank" class="btn btn-dark">Amazon</a>
            </div>
        </div>
    </div>
    <div class="lists">
        <table>
            <tr>
                <td><i id="heart" [class]="wishlistIcon" (click)="addToWishlist5()"></i></td>
                <td><i id="star" [class]="favoriteIcon" (click)="changeIconFavorite()"></i></td>
                <td><i id="check" [class]="personalIcon" (click)="changeIconPersonal()"></i></td>
                <button (click)="addToWishlist(product.id)">Add to wishlist</button>



            </tr>
        </table>
    </div>
</section>

<!-- //////////////////// display more from the series //////////////////// -->
<section class="container mt-5" *ngIf="filteredSeriesProducts.length > 0">
    <div class="related-books">
        <h2>More from the Series!</h2>
        <div class="row">
            <div *ngFor="let product of getFilteredSeriesProducts()" class="col-sm-6 col-md-4 col-lg-3 mb-4"
                (click)="goToDetailsPage(product.id)">
                <div class="card h-100">
                    <img class="card-img-top" [src]="product.product_cover" alt="Product cover">
                    <div class="card-body">
                        <h5 class="card-title">{{product.product_title}}</h5>
                        <span class="volume-text">Volume: {{product.volume}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// display explore //////////////////// -->
<section class="container mt-5">
    <div class="explore-books">
        <h2>Explore More Books!</h2>
        <div class="row">
            <div *ngFor="let book of randomBooks" class="col-sm-6 col-md-4 col-lg-3 mb-4 more-books-covers"
                (click)="goToDetailsPage(book.id)">
                <div class="card h-100">
                    <img class="card-img-top more-books-covers" [src]="book.product_cover" alt="Book cover">
                    <div class="card-body">
                        <h5 class="card-title">{{book.product_title}}</h5>
                        <span class="volume-text">Volume: {{book.volume}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>