.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 50px;*/
    margin-top: 50px;
    /*margin-left: 100px;*/
    margin: 50px;
}

.team-member {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10%;
    margin: 15px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.team-member p {
    color: #888;
    font-size: 17px;
}

.eline {
    padding: 11.5%;
}

.team, .about {
    text-align: center;
    font-size: 75px;
}

.subText {
    color: #D3D3D3;
    font-size: 17px;
    text-align: center;
}

.point {
    height: 30px;
}

.team {
    margin-top: 120px;
}

@media only screen and (max-width: 1200px) {
    .team-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member {
        width: 45%; /* Two team members next to each other */
    }
}