<!--About Us-->
<h1 class="about">About Us</h1>
<hr>
<p class="subText">
    <img class="point" src="../../assets/Logo.png" alt="">
    At Prince_press, we embrace the rich and diverse world of manga and anime. Our passion for these art forms drives us
    to share stories, build communities, and bridge the gap between creative talents and passionate fans worldwide.

</p>
<p class="subText">
    <img class="point" src="../../assets/Logo.png" alt="">we strive to produce and promote high-quality manga and anime
    that not only entertain but also connect and inspire. Our mission is to contribute to the growth of the manga and
    anime community by telling unique stories and creating an inclusive space for fans of all backgrounds.
</p>




<!--Our Team-->
<h1 class="team">Our Team</h1>
<hr>
<p class="subText">
    <img class="point" src="../../assets/Logo.png" alt="">Behind Prince-Pressis a dedicated team of professionals with a
    shared love for manga and anime.
    Together, we work hard to create unique and engaging stories that resonate with our diverse readership.
</p>
<div class="team-container">
    <div class="team-member">
        <img src="../../assets/Ur.jpg" alt="Team Member 1">
        <h2>Ugurkan Karaca
        </h2>
        <p>Frontend Developer</p>
    </div>
    <div class="team-member">
        <img src="../../assets/liam.jpg" alt="Team Member 2">
        <h2>Liam Vandermaesen</h2>
        <p>Frontend Developer</p>
    </div>
    <div class="team-member eline">
        <img src="../../assets/Eline.png" alt="Team Member 3">
        <h2>Eline Boffin</h2>
        <p>Frontend Developer</p>
    </div>
    <div class="team-member eline">
        <img src="../../assets/Dog.jpg" alt="Team Member 3">
        <h2>Qas</h2>
        <p>Emotional Support</p>
    </div>
</div>