<section id="news-selection" class="mt-5 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 text-uppercase text-center">Our news</h2>
            </div>
            <div class="col-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h5 class="card-title">title:{{buzz?.news_title}}</h5>
                        <p class="card-text"> description:{{buzz?.news_description}}</p>
                        <p class="card-text"><small class="text-muted">Author: {{buzz?.news_author}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>