@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

.explore-books {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 65px;
}

.explore-books h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book-cover {
    max-height: 375px;
    margin-right: 20px;
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.book-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-info {
    flex: 1;
}

.book-cover:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 10px;
    background: linear-gradient( 155deg, rgb(174 253 255 / 80%) 35%, rgb(244 178 255 / 80%) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-title {
    font-family: "Mukta";
    margin-bottom: -7.5px;
    cursor: pointer;
}

.volume-text {
    font-weight: 400;
    font-family: 'Mukta';
    margin-bottom: -0.5px;
    cursor: pointer;
    vertical-align: -5px;
}

.card {
    box-shadow: 7px 7px 0px rgb(184, 194, 188);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 2px rgb(184, 194, 188);
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: auto;
    object-fit: cover;
    width: 100%;
}

.col-sm-6, .col-md-4, .col-lg-3 {
    min-width: 200px;
}

