<h1 class="text-uppercase mt-5 mb-5" style="text-align: center; text-decoration:double;">Expore our entire <span
        style="text-align: center; text-decoration:double; font-family: 'Nanum Pen Script'; font-size: 60px; vertical-align: -8px; color: rgb(255, 174, 0);">collection</span>!
</h1>

<!-- //////////////////// loop for all series grouping by serie //////////////////// -->
@for (s of series; track s.productTitle)
{
<h2>{{ s.productTitle }}</h2>
<section class="container mt-5">
    <div class="explore-books">
        <div class="row">
            @for (item of s.series; track item.id)
            {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 more-books-covers" (click)="goToDetailsPage(item.id)">
                <div class="card h-100">
                    <img class="card-img-top more-books-covers" [src]="item.product_cover" alt="Book cover">
                    <div class="card-body">
                        <h5 class="card-title">{{item.product_title}}</h5>
                        <span class="volume-text">Volume: {{item.volume}}</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
}