<h1>Register</h1>

<p> Here you can register a new account for the site so you can add favorites, leave comments and much more.
    <br>
    <br>
</p>



<form>
    <label for="surname">Surname:</label>
    <input id="surname" [(ngModel)]="surname" name="surname" type="text" required>

    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="name" name="name" type="text" required>

    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="username" name="username" type="text" required>

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="email" name="email" type="email" required>

    <label for="password">Password:</label>
    <div class="password-input-container">
        <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" id="password" name="password" required>
        <span class="password-toggle" (click)="togglePasswordVisibility()">
         <i class="fa fa-eye"></i>
        </span>
    </div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>

    <label for="terms"> I agree to the terms and conditions</label>
    <input type="checkbox" id="terms" name="terms" required>
    <p class="error" id="error"></p>

    <p>Already have an account? <routerLink class="link" [routerLink]="['/login']">Login</routerLink>
    </p> <!-- we go via the route to the login page -->
    <button type="button" (click)="onSubmit()">Submit</button>

    <!-- TODO: add a button to go back -->
</form>
