form {
    padding: 30px;
    border: 1px solid #e0b9b9;
    border-radius: 5px;
    background: #ffefef;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Input styling */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0b9b9;
}

.password-input-container {
    display: flex;
    cursor: pointer;
}

.password-input-container span {
    float: right;
}

/* Button styling */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #df6b6b;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

/* Hover effect for submit button */
button:hover {
    background-color: #ff9f9f;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #df6b6b;

    text-decoration: none;
}

a:hover {
    color: #ff9f9f;

}

routerlink.link {
    text-align: center;
    color: #df6b6b;
}

routerlink.link:hover {
    color: black;
    text-decoration: underline;
    font-size: 1.2rem;
    transition: 0.2s;
    cursor: grab;
}


input:required {
    border-color: red;
}

input:valid {
    border-color: green;
}

input:optional {
    background-color: lightgray;
}