@import '@fortawesome/fontawesome-free/css/all.css';

.bg-secondary {
    background-color: #f7fafc !important;
}

.text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

/*.adminCard {
    width: 50vw;
    margin-top: 15px;
}*/

.imgTest {
    padding: 3px;
}


.main-content {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80vw;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}



.bg-secondary {
    background-color: #f7fafc !important;
}

.addedImg {
    max-width: 100px;
    height: auto;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}

.btnAddClear {
    /*float: right;*/
    text-align: center;
}

p {
    padding: 5px;
    border: 1px solid slategray;
}

.output-container {
    display: flex;
    align-items: center;
}

#imgAdd {
    border: none !important;
}

label,
#imgAdd {
    color: slategray;
    font-weight: bold;
}
