<div class="main-content">
    <!-- Page content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <!--AddBookOutput--> <!-- show a preview of the new book -->
                <div class="card card-profile shadow">
                    <div class="card-body pt-0 pt-md-4">
                        <div id="preview">
                            <h5><i class="fa-solid fa-list"></i> Overzicht</h5>
                            <hr>   
                            <label>Title:</label>
                            <p>{{title}}</p>

                            <label>Author:</label>
                            <p>{{author}}</p>

                            <label>Description:</label>
                            <p>{{description}}</p>

                            <label>WhereToBuy:</label>
                            <p>{{whereToBuy}}</p>

                            <label>ReleaseDate:</label>
                            <p>{{releaseDate}}</p>

                            <label>Volume:</label>
                            <p>{{volume}}</p>

                            <label>Type:</label>
                            <p>{{type}}</p>

                            <p id="imgAdd">
                                <i class="fa-regular fa-image"></i>
                                Gekozen bestand:</p>
                            <img class="addedImg" [src]="imagePath">
                        </div>
                        <hr>
                        <div class="btnAddClear">
                            <button (click)="createBook()" type="button" class="btn btn-success">✓</button>
                        <button (click)="clearInput()" type="button" class="btn btn-danger">✘</button> <!-- when pressed on button clear the input fields -->
                        </div>
                    </div>
                </div>
            </div>
            <!--AdminCard-->
            <div class="col-xl-8 order-xl-1">
                <div class="adminCard">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0"><i class="fa-solid fa-user-tie"></i> Admin</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                        <!-- input for the new book -->
                        <div class="card-body">
                            <div class="new-book">
                                <h6 class="heading-small text-muted mb-4"><i class="fa-solid fa-book"></i> Create new
                                    Book</h6>
                                <form>
                                    <label for="title"> Title </label>
                                    <input id="title" [(ngModel)]="title" name="title" type="text" class="form-control">

                                    <label for="Author"> Author </label>
                                    <input id="author" [(ngModel)]="author" name="author" type="text"
                                        class="form-control">

                                    <label for="description"> Description </label>
                                    <input id="description" [(ngModel)]="description" name="description" type="text"
                                        class="form-control">

                                    <label for="whereToBuy"> Where to buy </label>
                                    <input id="whereToBuy" [(ngModel)]="whereToBuy" name="whereToBuy" type="text"
                                        class="form-control">

                                    <!-- here we select the file from the computer or from your phone -->

                                    <label for="image"> Image </label>
                                    <input type="file" (change)="onFileSelected($event)" id="image" name="image"  
                                        class="form-control imgTest">

                                    <label for="releaseDate"> Release Date </label>
                                    <input id="releaseDate" [(ngModel)]="releaseDate" name="releaseDate" type="date"
                                        class="form-control">

                                    <label for="type"> Type </label>
                                    <select name="type" id="type" [(ngModel)]="type">
                                        <option value="LN">Light Novels</option>
                                        <option value="M">Manga</option>
                                        <option value="D">Digital</option>
                                    </select>

                                    <label for="season"> Season </label>
                                    <select name="season" id="season" [(ngModel)]="season">
                                        <option value="Winter">Winter</option>
                                        <option value="Spring">Spring</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Autumn">Autumn</option>
                                    </select>

                                    <label for="volume"> Volume </label>
                                    <input id="volume" [(ngModel)]="volume" name="volume" type="text">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
