/*body {
    background: radial-gradient(rgb(132, 132, 132) 5%, rgb(21, 21, 21) 100%);
}*/

body {
    background: rgb(180, 180, 180);
    background: -moz-radial-gradient(circle, rgba(132, 132, 132) 5%, rgba(21, 21, 21) 100%);
    background: -webkit-radial-gradient(circle, rgba(132, 132, 132) 5%, rgba(21, 21, 21) 100%);
    background: radial-gradient(circle, rgba(132, 132, 132) 5%, rgba(21, 21, 21) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4b4b4", endColorstr="#000000", GradientType=1);
}